<div class="booyah-box col-xs-4 col-xs-offset-1">
	<%= search_form_for @q, url: search_invite_index_path, method: :post do |f| %>
		<div class="field">
    		
			<%= f.label :first_name, "Name" %>
			<%= f.search_field :first_name %>

		</div><br />
		<div class="actions"><%= f.submit "Search" %></div>
</div>
<% end %>
<% if @searchresults.any? %>
	<div class="col-xs-5">
		<% @searchresults.each do |u| %>
			<div class="booyah-box">
				<ul>
					<li>Email: <%= u.email %></li>
					<li>Joined Date: <%= u.created_at %></li>
				</ul>
			</div>

		<% end %>
	</div>
<% end %>