<% if @booksearch.any? %>
<div class="booyah-box col-xs-6 col-xs-offset-2">
	<h3>Search Results</h3>

	<% @booksearch.each_with_index do |result, index| %>

		<%= simple_form_for @favorite, :url => kid_favorites_path(@kid) do |f| %>

				<%= f.hidden_field :name, value: result.title %>
	  		  	<%= f.hidden_field :book_isbn, value: result.isbn %>
	    		<%= f.hidden_field :description, value: result.description[0...350] if result.description %>
	    		<%= f.hidden_field :image_link, value: result.image_link %>
	  

	    		<%= image_tag result.image_link(:zoom => 6), class: "img-responsive " if result.image_link.present? %><br />
	    
			    Title: <%= result.title %><br />
			    Author: <%= result.authors %><br />
			    ISBN: <%= result.isbn %><br />
			    Description: <%= result.description[0...350]  if result.description %>...<br /><br />
	    
	    <%= f.submit '+Favorite Book', :class=> 'btn btn-primary' %><br /><br />
	  
		<% end %>

	
<% end %>
</div>
<% end %>