  <div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Edit Kid</h1>
  <%= simple_form_for @kid do |f|  %>
  	 <div class= "row">
  	 	<div class="col-xs-2">
  	 		<div class="img-responsive">
				<%= image_tag @kid.avatar.thumb, class: "img-circle avatar" if @kid.avatar.present? %>
		 </div><br />
		</div>
	  	<div class="col-xs-4">
			<h2>General Info</h2>
			 	<%= f.input :name %>
				<%= f.input :birthdate, :label => 'Birth Date' %>
				<%= f.input :gender, :as =>:select, :collection => Kid::GENDER %><br />
				<strong>Profile Photo Upload</strong><br/>				
				<%= f.file_field :avatar %>
		</div>
		
    </div>
    <hr>
    <div class= "row">
		<div class="col-xs-4">
			<h3>Sleep</h3><br />
				<%= f.input :bedtime, :as => :time, :minute_step => 15 , default: Time.parse("7:30")%>
				<%= f.input :sleeproutine, :label => 'Sleep Routine',:input_html => { :cols => 5, :rows => 7 }   %>
		</div>
		<div class="col-xs-4">
			<h3>No-Nos</h3><br />
			<%= f.input :allergies %>
			<%= f.input :nonos, :label => 'Please Avoid', :input_html => { :cols => 5, :rows => 7 }   %><br />
		</div>
		<div class="col-xs-4">
			<h3>Chores</h3><br />
			<%= f.input :chores, :label => 'Details',:input_html => { :cols => 5, :rows => 11 }  %>
			<br /><br />
		</div>
		
	</div>
		<%= f.submit 'Update Kid', :class=>"btn btn-primary" %>
	<% end %>

</div> 

