<div class="booyah-box col-xs-4 col-xs-offset-2">
	  <h3>Add A Movie</h3>
			<%= form_tag new_kid_movie_path, :method => :get do |f| %>
			<%= text_field_tag :title, params[:title] %>
			<%= submit_tag "Search", :name => nil, :class=>"btn btn-primary"  %>
		<% end %>
</div>

<% if @moviesearch.any? %>
<div class="booyah-box col-xs-6 col-xs-offset-2">

	<h3>Search Results</h3>

	<% @moviesearch.each_with_index do |result, index| %>

	<%= simple_form_for @favorite, :url => kid_movies_path(@kid) do |f| %>
		<%  @formtype = 'movie' %>

		<% movieimage = @configuration.base_url.to_s + @configuration.backdrop_sizes.first.to_s + result.backdrop_path.to_s %>

		<%= f.hidden_field :name, value: result.title %>
	   	<%= f.hidden_field :description, value: result.overview[0...350] if result.overview %>
	   	<%= f.hidden_field :image_link, value: movieimage %>
	   	<%= f.hidden_field :releasedate, value: result.release_date %>
	  	<%= f.hidden_field :category, value: @formtype %>	   
	   
	   <%= image_tag movieimage  %><br />

	    <h4>Title: <%= result.title %></h4>
	    <b>Released:</b> <%= result.release_date %><br />
	    <b>Overview:</b> <%= result.overview %>
	    <br /><br />
	 <%= f.submit '+Favorite Movie', :class=> 'btn btn-primary' %><br /><br />
	  
		<% end %>
	    <hr><br />
	 
	<% end %>
</div>
<% end %>