  <div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Your Kid's Profile</h1>
  <%= simple_form_for @family do |family|  %>
  		<%= family.hidden_field :name, value: current_user.last_name %>
  	 	<%= family.simple_fields_for :kids do |f| %>
  	 <div class= "row">
	  	<div class="col-xs-4">
			<h2>General Info</h2>
			 	<%= f.input :name %>
				<%= f.input :birthdate, :label => 'Birth Date' %>
				<%= f.input :gender, :as =>:select, :collection => Kid::GENDER %><br />
				<strong>Profile Photo Upload</strong><br/>				
				<%= f.file_field :avatar %>

		</div>
		<div class="col-xs-4">
			<h3>Emergency Contacts</h3><br />
				<%= f.input :emerg_contact_1, :label => 'Emergency Contact 1'  %>
				<%= f.input :emerg_contact_1_phone, :label => 'Phone'  %><br />
				<%= f.input :emerg_contact_2, :label => 'Emergency Contact 2' %>
				<%= f.input :emerg_contact_2_phone, :label => 'Phone'  %>
		</div>
		<div class="col-xs-4">
			<h3>Health Insurance</h3><br />
				<%= f.input :insuranceprovider, :label => 'Insurance Provider'  %>
				<%= f.input :health_ins_enrollee_id, :label => 'Enrollee ID'  %>
				<%= f.input :health_ins_group_num, :label => 'Group #'  %>
				<%= f.input :physicianname, :label => 'Physician Name' %>
				<%= f.input :physicianphone, :label => 'Physician Phone' %>
		</div>
		
    </div>
    <hr>
    <div class= "row">
		<div class="col-xs-4">
			<h3>Sleep</h3><br />
				<%= f.input :bedtime, :as => :time, :minute_step => 15 , default: Time.parse("7:30")%>
				<%= f.input :sleeproutine, :label => 'Sleep Routine',:input_html => { :cols => 5, :rows => 7 }   %>
		</div>
		<div class="col-xs-4">
			<h3>No-Nos</h3><br />
			<%= f.input :allergies %>
			<%= f.input :nonos, :label => 'Please Avoid', :input_html => { :cols => 5, :rows => 7 }   %><br />
		</div>
		<div class="col-xs-4">
			<h3>Chores</h3><br />
			<%= f.input :chores, :label => 'Details',:input_html => { :cols => 5, :rows => 11 }  %>
			<br /><br />
		</div>
		
	</div>
		<%= f.submit 'Update', :class=>"btn btn-primary" %>
	<% end %>

 <% end %>
</div> 

