

<div class="booyah-box col-xs-10 col-xs-offset-1">
		<div class="col xs-2">
		<div class="img-responsive">
				<%= image_tag @user.avatar, class: " avatar" if @user.avatar.present? %>
		 </div>		
		 </div><br />

		<div class="col-xs-8">
			<h2><%= @user.first_name %> <%= @user.last_name %></h2>
			<h4><%= @user.email %></h4>
			
		</div>

		<div class="clear"></div>

</div>

<div class="booyah-box col-xs-5 col-xs-offset-1">
	<h2 class="text-center">My Kids</h2>  <br /><br />
	
	<% @user.kids.each do |kid| %>
	   <div class="col-xs-4">
	   <div class="img-responsive">
				<%= image_tag kid.avatar, class: "img-circle avatar" if kid.avatar.present? %>
		 </div><br />
	   <h2><%= link_to kid.name, kid_path(kid) %></h2><br />
		</div>
	<% end %>

</div>

<div class="booyah-box col-xs-4 col-xs-offset-1">
	<h2 class="text-center">Family Favorites</h2>  <br /><br />
	<%= @family %>
</div>