<% if @user.parentuser? || @user.parentsitteruser? && @user.family == @family && @user.family.present? %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<%= image_tag @family.avatar, class: "booyah-box special" if @family.present? %>
	<div class="content">
		<div class="col xs-2">
		<div class="img-responsive img-thumbnail">
				<%= image_tag @user.avatar, class: "avatar" if @user.avatar.present? %>
		 </div>		
		 </div><br />

		<div class="col-xs-8">
			<h2><%= @user.first_name %> <%= @user.last_name %></h2>
			<h4><%= @user.email %></h4>
			<h4><%= @user.role  %></h4>
		</div>
		<div class="col-xs-2">
		   <% if @family.present? %>
				<% if @family.may_invite_spouse? %>
				   <%= link_to 'Invite Spouse/Partner',  new_invite_path(invite_kind: :for_spouse), :class => 'btn btn-default' %><br />
	    		<% end %>
	    		<%= link_to 'Invite Sitter',  new_invite_path(invite_kind: :for_sitter), :class => 'btn btn-default' %><br /><br />
	    		<%= link_to 'Edit Family Details/Photo',  edit_family_path(@family), :class => 'btn btn-default' %>
		   <% end %>
		</div>
	</div>
	</div>

	<div class="booyah-box col-xs-4 col-xs-offset-1">
		<h2 class="text-center">Kids</h2>  <br /><br />
		
	  		<% @family.kids.each do |kid| %>
	  		<div class="col-xs-6">
	  		 	<div class="img-responsive">
					<%= image_tag kid.avatar, class: "img-circle avatar" if kid.avatar.present? %>
			 	</div><br />
			 	<%= link_to kid.name, kid_path(kid) %><br />
	  			</div>
	  		<% end %>
	  	<br /><br />
	</div>
<% end %>

<% if @user.sitteruser? %>

<div class="row">
	<div class="col-xs-4 col-xs-offset-4  text-vertical-center">
			<div class="img-responsive center-block">
					<%= image_tag @user.avatar, class: "img-circle avatar" if @user.avatar.present? %>
			 </div><br />
			<h2><%= @user.first_name %> <%= @user.last_name %></h2>
			<h4><%= @user.email %></h4>
			<h4><%= @user.role  %></h4>
	</div>
</div>

<% end %>
<% if @user.sitteruser? || @user.parentsitteruser? && @user.families.present? %>
	<div class="col-xs-10 col-xs-offset-2">
  		<% @families.each do |family| %>
  		<div class="col-xs-4">
  			<div class="img-responsive family">
  				<%= image_tag family.avatar.thumb, class: "img-circle avatar" if family.avatar.thumb.present? %>
  			</div>
  		 	<%= link_to family.name, family_path(family) %><br />
  			</div>
  		<% end %>
  	<br /><br />
	</div>
<% end %>





