  <body class="fixed-header ">
    <div class="login-wrapper img-responsive">
      <!-- START Login Background Pic Wrapper-->
      <div class="bg-pic">
        <!-- START Background Caption-->
        <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
          <h3 class="semi-bold pull-bottom sm-pull-bottom text-white">
          Provide peace of mind to parents & vital information to trusted cared providers.</h2>
        </div>
        <!-- END Background Caption-->
      </div>
      <!-- END Login Background Pic Wrapper-->
      <!-- START Login Right Container-->
      <div class="login-container bg-white">
        <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
                    <h2>Sign In</h2>
            <br />
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :email, required: false, autofocus: true %>
              <%= f.input :password, :maxlength =>20, :size => 30, required: false %>
            </div>
            <br />
            <div class="form-actions">
              <%= f.button :submit, "Log in", :class=> 'btn btn-primary' %>
            </div>
            <br />
          <% end %>
          <br />New to Kidfo? <%= link_to 'Learn More', root_path %><br /><br />
          <%= render "devise/shared/links" %>
          </div>

          <!--END Login Form-->
          
        </div>
      </div>
    </div>
  </body>
