<!DOCTYPE html>
<html>
<head>
  <title>Kidfo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
  <div class="container-fluid">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <!-- Page Content -->           
    <div class="brand"><%= image_tag 'brand.png', class: "brand" %> <span class="kidfo">KIDFO</span></div>
       <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>

          <% if current_user.family %>
              <li><%= link_to 'Add Kid', new_kid_path %></li>
            <% else %>
              <li><%= link_to 'Have Kids? Create A Family', new_family_path %></li>
          <% end %>
          <li><%= link_to 'Profile', user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <li><%= link_to 'Sign In', new_user_session_path, :class => 'mainlink' %><li>
        <button type="button" class="btn btn-ghost btn-square btn-primary waves-effect" data-toggle="modal" data-target="#myFavoriteModal">Join Kidfo
        </button></li>
        <% end %>

        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>
<br /><br />
  <div class="col-xs-6 col-xs-offset-3">
    <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert.present? %>
     <p class="alert alert-danger"><%= alert %></p>
     <% end %>
    </div>




</body>
</html>
